@media screen {
  320px ;
}

body{
  margin:0 auto;
}

.nav {
  width:320px;
  padding: 2px;
  margin: 0 auto;
}

 .logo img{
  width: 100px;
 }

.hamburger-menu {
  width: 30px;
  float: right;
  
}

.headersection{
  padding:2px;
}
.headersection header {
  width:320px;
}

.headersection img {
  width:320px;
}

.flex-container {
  width: 320px;
  
}

.mainsection main {
width: 320px;
}

main img  {
  width: 100px;
  }
  

